::-webkit-scrollbar {
  width: 10px;
  
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px 10px transparent;
  border: solid 3px transparent;
  
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 10px 10px white;
  border: solid 3px transparent;
}
body {
  margin: 0;
  padding: 0;
  background-color: blue;
}
@font-face {
  font-family: 'fontello';
  src: url('fontello.woff2') format('woff2'),
       url('fontello.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
/* @media (max-device-width: 1200px) and (orientation: landscape) {
    
}
@media (max-device-width: 1200px) and (orientation: portrait) {
  
  
}
@media (max-device-width: 1200px) {
  
}

@media only screen and (min-device-width: 900px) {
  
} */

.server_join {
  display: flex;
  flex-direction: row;
}
.server_join{
  display: flex;
  /* margin: 8px; */
  height: 30px;
  
  
  align-items: center;

}
.server{
  
  width: 90px;
  margin-right: 5px;
  

}
